CONFIG_ZMK_KEYBOARD_NAME="Sweep_Left"

CONFIG_ZMK_SPLIT=y
CONFIG_ZMK_SPLIT_ROLE_CENTRAL=y

CONFIG_ZMK_BLE=y
CONFIG_ZMK_BLE_CENTRAL=y
CONFIG_ZMK_USB=y

CONFIG_BT=y
CONFIG_BT_PERIPHERAL=y
CONFIG_BT_DEVICE_NAME="Sweep_Left"
CONFIG_BT_MAX_CONN=1
CONFIG_BT_MAX_PAIRED=1
CONFIG_BT_HID=y
CONFIG_BT_HID_DEVICE=y
CONFIG_BT_LL_NRFX=y
CONFIG_BT_GATT_CLIENT=n

CONFIG_BT_BLUETOOTH=y
CONFIG_BT_GATT_SERVER=y
CONFIG_BT_GATT_CACHING=n
CONFIG_BT_GATT_DYNAMIC_DB=y
CONFIG_BT_GATT_CCCD_MAX=1

CONFIG_BT_SECURITY_NONE=y
CONFIG_BT_SMP=n
CONFIG_BT_HID_REPORT_MAP="keyboard_report_map"

