// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/{
    compatible = "zmk,keyboard";

    // Define GPIO pins for each key (use actual GPIO pin numbers based on your wiring)
    key_pins {
        pin_1 = <&gpio 2>;
        pin_2 = <&gpio 3>;
        pin_3 = <&gpio 4>;
        pin_4 = <&gpio 5>;
        pin_5 = <&gpio 6>;
        pin_6 = <&gpio 7>;
        pin_7 = <&gpio 8>;
        pin_8 = <&gpio 9>;
        pin_9 = <&gpio 10>;
        pin_10 = <&gpio 11>;
        pin_11 = <&gpio 12>;
        pin_12 = <&gpio 13>;
        pin_13 = <&gpio 14>;
        pin_14 = <&gpio 15>;
        pin_15 = <&gpio 16>;
        pin_16 = <&gpio 17>;
        pin_17 = <&gpio 18>;
    };

    // Bluetooth Setup
    bt_pins = <&gpio 1>, <&gpio 19>; // Example GPIO pins for Bluetooth module
    bt_reset_pin = <&gpio 20>; // Pin for resetting Bluetooth

    bt_config {
        pairing_button_pin = <&gpio 4>; // Pin for Bluetooth pairing button
        reset_button_pin = <&gpio 5>; // Pin for Bluetooth reset button
    };
    
    // Other configurations specific to your board
}; 
{
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Default Layer
        default_layer {
            bindings = <
                &kp Q   &kp W   &kp E   &kp R   &kp T          &kp Y   &kp U   &kp I   &kp O   &kp P
                HRML(A, S, D, F)   &kp G          &kp H   HRMR(J, K, L, SQT)
                &kp Z   &kp X   &kp C   &kp V   &kp B          &kp N   &kp M   &kp COMMA   &kp DOT   &kp FSLH
                &lt 2 TAB   &kp ENTER   &kp SPACE  &lt 1 BSPC
            >;
        };

        // Right Layer
        right_layer {
            bindings = <
                &kp INS    &kp N1     &kp N2     &kp N3     &trans         &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp COLON
                &kp DEL    &kp N4     &kp N5     &kp N6     &trans         &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp SEMI
                &caps_word &kp N7     &kp N8     &kp N9     &kp N0         &trans     &trans     &trans     &trans     &trans
                &trans     &kp ESC    &trans     &trans
            >;
        };

        // Left Layer
        left_layer {
            bindings = <
                &trans     &kp LBKT   &kp LBRC   &kp RBRC   &trans         &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT   &kp TILDE
                &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH   &kp GRAVE
                &trans     &trans     &trans     &trans     &trans         &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE   &trans
                &trans     &trans     &trans     &trans
            >;
        };

        // Tri-Layer (for layer switching and other special behaviors)
        tri_layer {
            bindings = <
                // Base Layer (Layer 0) / Profile 0
                &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
                // Bootloader / Profile 1
                &bootloader &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
                // Clear Bluetooth / Profile 2
                &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
                // Empty spaces for layout symmetry
                &trans     &trans     &trans     &trans
            >;
        };
    };
};

